<div class="modal-dialog share-images-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>
      <h4 class="modal-title">シェル写真</h4>
    </div>
    <div class="modal-body">
      <%= form_for [@image, share_image], url: image_share_path,
        remote: true do |f| %>
        <div class="image-form-errors">
          <% if share_image.errors.any? %>
            <%= render "shared/error_messages", object: share_image %>
          <% end %>
        </div>
        <div class="image-image">
          <span>
            <%= image_tag @image.image_url,
              class: "img-responsive image-panel" %>
          </span>
        </div>
        <%= f.text_area :share_description, placeholder: "何かを書いて",
          class: "form-control" %>
        <%= f.submit "保存", class: "btn btn-primary share-submit" %>
        <button type="button" class="btn btn-danger share-cancel"
          data-dismiss="modal">
          キャンセル
        </button>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
