<div class="modal-dialog avatar-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>
      <h4 class="modal-title">アバターを編集</h4>
    </div>
    <div class="modal-body">
      <%= form_for @user, method: :patch, multipart: true,
        authenticity_token: true, remote: true do |f| %>
        <div class="user-form-errors">
          <%= render "shared/error_messages", object: @user %>
        </div>

        <div class="user-avatar-img">
          <div>
            <%= image_tag avatar_profile(@user), class: "img-responsive
              user-avatar-edit" %>
          </div>
          <span>
            <%= f.file_field :avatar, class: "avatar-file-field" %>
          </span>
        </div>

        <div class="user-form-submit">
          <%= f.submit "保存", class: "btn btn-primary user-avatar-btn-save" %>
          <button class="btn btn-danger user-avatar-btn-cancel"
            data-dismiss="modal">
            キャンセル
          </button>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>

