<div class="user-form">
  <%= form_for @user, method: :patch, remote: true do |f| %>
    <div class="user-form-errors">
      <%= render "shared/error_messages", object: @user %>
    </div>

    <div class="user-avatar">
      <span><%= image_tag avatar_profile(@user), class: "img-responsive
        img-user-avatar-file-field" %></span>
      <span><%= f.file_field :avatar, class: "avatar-file-field" %></span>
    </div>

    <%= f.label "メイル" %>
    <label class="field form-control" readonly>
      <%= @user.email %>
    </label>

    <div class="field">
      <%= f.label "名前" %>
      <%= f.text_field :full_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag "電話番号" %>
      <%= text_field_tag "profile[phone_number]",
        @user.profile.phone_number, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag "出身所" %>
      <%= text_field_tag "profile[place_birth]",
        @user.profile.place_birth, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag "誕生日" %>
      <%= text_field_tag "profile[birthday]",
        @user.profile.birthday, {data: {provide: "datepicker"},
        "data-date-format" => "yyyy-mm-dd", class: "form-control"} %>
    </div>

    <div class="field">
      <label><%= f.radio_button :sex, "male", checked: true %>
        男性
      </label>
      <label><%= f.radio_button :sex, "female" %>
        女性
      </label>
    </div>

    <div class="user-form-submit">
      <%= f.submit "保存", class: "btn btn-primary user-form-btn-save" %>
      <button class="btn btn-danger user-form-btn-cancel">
        キャンセル
      </button>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
