<div class="nht-body-content">
  <div class="user-show">
    <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 user-show-left">
      <div class="user-cover">
        <%= image_tag "portfolio-1.jpg", class: "img-responsive
          img-user-cover" %>

        <div class="user-avatar">
          <%= image_tag avatar_profile(@user), class: "img-responsive
            img-user-avatar" %>
        </div>

        <div class="user-full-name">
          <%= @user.full_name %>
        </div>

        <% unless current_user.current_user? @user %>
          <div class="follow-users-btn">
            <%= link_to "アンフォロー", "#", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="user-info">
        <div class="user-form-edit">
          <%= render "form" if current_user.current_user? @user %>
        </div>
        <div class="user-form-info">
          <%= render "info" %>
        </div>
      </div>
    </div>

    <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 user-show-right
      with-padding">
      <% unless @images.empty? %>
        <div id="user-show-images">
          <% @images.each do |image| %>
            <% if image.share_id %>
              <%= render "shares/share_image", image: image %>
            <% else %>
              <%= render "images/image", image: image %>
            <% end %>
          <% end %>
        </div>

        <div id="load-more-user-show-mages" class="load-more-user-show-mages">
          <%= link_to "写真をもっと見る", user_path(@user, image_offset:
            @images.last.id), remote: true %>
        </div>
      <% else %>
        <h3 class="no-content"><%= t :no_content %></h3>
      <% end %>
    </div>
  </div>
</div>
