<div class="images">
  <div class="images-header">
    <span class="images-header-content">
      <span class="images-image">
        <%= link_to "#" do %>
          <%= image_tag avatar_profile(current_user), class: "img-responsive
            images-header-avatar" %>
        <% end %>
      </span>

      <div class="images-header-info">
        <h6><%= link_to current_user.full_name, "#" %></h6>
        <!-- <small><%#= time_ago_in_words image.created_at %></small> -->
        <small><%= l Time.zone.now.to_datetime, format: :default %></small>

        <span class="dropdown header-item images-header-icon">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag "arrow.png", class: "icon" %>
          </a>
          <ul class="dropdown-menu">
            <li>
              <span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </span>
              <span><%= link_to "編集", "#" %></span>
            </li>
            <li>
              <span>
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
              <span><%= link_to "解消", "#" %></span>
            </li>
          </ul>
        </span>
      </div>
    </span>
  </div>

  <div class="images-body">
    <div class="images-body-description">
      <%#= image.description %>
      Vi du ve description
    </div>
    <div class="images-body-image" data-toggle="modal"
      data-target="#images-modal">
      <%#= image_tag image.image.url, class: "img-responsive images-show" %>
      <%= image_tag "portfolio-1.jpg", class: "img-responsive images-show" %>
    </div>
    <hr>
  </div>

  <div class="images-footer">
    <span class="images-like">
      <%# if current_user.liked image %>
        <%#= image_tag "unlike.png", class: "images-like-icon" %>
      <%# else %>
        <%#= image_tag "like.png", class: "images-like-icon" %>
      <%# end %>
      <%= image_tag "unlike.png", class: "images-like-icon" %>
      <span>ライク</span>
    </span>

    <span class="images-comment">
      <%= image_tag "comment.png", class: "images-comment-icon" %>
      コメント
    </span>
    <hr>
  </div>

  <div class="images-comment">
    <%= render "comment" %>
  </div>

  <div id="images-modal" class="modal fade" role="dialog">
    <div class="modal-dialog images-modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Vi du ve dia diem</h4>
        </div>
        <div class="modal-body">
          <%#= image_tag image.image.url, class: "img-responsive
            images-show-detail" %>
          <%= image_tag "portfolio-1.jpg", class: "img-responsive
            images-show-detail" %>
        </div>
      </div>
    </div>
  </div>
</div>
