<div class="comments">
  <div class="comments-header">
    <span class="comments-header-content">
      <span class="comments-image">
        <%= link_to "#" do %>
          <%= image_tag avatar_profile(comment.user), class: "img-responsive
            comments-header-avatar" %>
        <% end %>
      </span>

      <div class="comments-header-info">
        <h6><%= link_to comment.user.full_name, "#" %></h6>
        <span><%= user_reply_comment comment %> <%= comment.content %></span>
        <div>
          <span class="like-comments"><%= link_to "ライク", "#" %></span>
          <span>-</span>
          <span class="reply-comments"><%= link_to "返信", "#" %></span>
          <span>-</span>
          <span>
            <%= time_ago_in_words comment.created_at %>
          </span>
        </div>
      </div>
    </span>
  </div>
</div>
