<%= form_for :user, url: password_path, html: {method: :patch} do |f| %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :reset_password_token %>
  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off",
      class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認のパスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",
      class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを編集", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
