<div class="password">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 jumbotron">
        <h2 class="text-center">パスワードを編集</h2>
          <%= form_for @user, url: passwords_path,
            html: {method: :post} do |f| %>
            <div class="field">
              <%= f.label :email, "メール" %><br />
              <%= f.email_field :email, autofocus: true,
                class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "メールにフォームを送ってください",
                class: "btn btn-block btn-primary" %>
            </div>
          <% end %>
          <%= render "passwords/links" %>
      </div>
    </div>
  </div>
</div>
