<div class="image-comment-edit-form"
  id="image-comment-edit-form-<%= reply_comment.id %>">
  <%= form_for [comment, reply_comment],
    url: comment_reply_comment_path(comment, reply_comment), method: :patch,
    remote: true do |f| %>
    <%= image_tag avatar_profile(current_user),
      class: "img-responsive img-avatar-comment" %>
    <%= f.text_field :content, placeholder: "何かを書いて",
      class: "form-control comment-form-content",
      id: "comment-form-content-#{reply_comment.id}" %>
  <% end %>
  <div class="comment-edit-btn-cancel" id="<%= reply_comment.id %>">
    キャンセル
  </div>
  <hr>
</div>
