<%= form_for image, multipart: true, authenticity_token: true do |f| %>
  <% if image.errors.any? %>
    <%= render "shared/erros_messages", object: image %>
  <% end %>

  <div class="field">
    <%= f.label :イメージ %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :カテゴリ %>
    <%= f.select :category_id, @categories
      .collect {|category| [category.name, category.id]}, {}, class: "form-control" %>  
  </div>

  <div class="field">
    <%= f.label :デスクリプション %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :アドレス %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
